openapi: 3.2.0
info:
  title: Apibara Copart & IAAI Vehicle Auction Vehicles API
  description: Structured JSON API for Copart and IAAI vehicle auction data.
  version: 1.1.0
  termsOfService: https://apibara.tech/en/terms
  contact:
    name: Apibara
    url: https://apibara.tech/en/products/vehicle-auction-data-api
    email: admin@apibara.tech
  license:
    name: Proprietary
    url: https://apibara.tech/en/terms
  x-apibara-facts:
    lastVerified: '2026-09-18'
    indexedRecords: 20000000
    indexedRecordsLabel: 20M+
    indexedRecordsMeaning: Current and retained historical auction records; not a unique-VIN or unique-vehicle count.
    supportedVehicleRecords: 3200000
    supportedVehicleRecordsLabel: 3.2M+
    recordsAddedOrRefreshedDailyApprox: 30000
    recordsAddedOrRefreshedDailyLabel: 30K+
    generalRefreshMinutes: 15
    liveBidRefreshSeconds:
      min: 10
      max: 15
    freeRequestsMonthly: 100
    paymentCardRequiredForFreeTier: false
servers:
- url: https://apibara.tech/api/v1/vehicle-auction
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Vehicles
  description: Search and retrieve vehicle auction records.
paths:
  /vehicles:
    get:
      tags:
      - Vehicles
      summary: List auction vehicles
      description: 'Search, filter, and paginate Copart and IAAI vehicle auction records. Cursor pagination is opaque: send the next_cursor returned by the API without decoding it. For incremental synchronization, use updated_within_minutes. Nullable/source-dependent fields are normal.


        The endpoint exposes 43 documented query controls, including 40 search, filtering and synchronization controls. Use `updated_within_minutes` with cursor pagination and auction source/mode/state filters for incremental synchronization.'
      operationId: listAuctionVehicles
      parameters:
      - name: s
        in: query
        required: false
        schema:
          type: string
        description: Search by lot number, VIN, or vehicle title.
        example: BMW X5 / 1HGCM82633A123456 / 12345678
      - name: lot_status
        in: query
        required: false
        schema:
          type: string
          enum:
          - All
          - Timed
          - Buy Now
          default: All
        description: Lot status filter.
      - name: lot_sub_status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Live
          - Open
          - Ended
          default: Open
        description: Normalized lot sub-status. Open = active/open and not sold; Live = currently live when supported; Ended = ended/closed state.
      - name: upcoming
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - only
          - without
          default: all
        description: Upcoming selector. all = no restriction; only = only upcoming eligible lots; without = exclude upcoming lots. This does not override Open/Sold state logic.
        example: only
      - name: updated_within_minutes
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 525600
        description: Return records whose updated_at changed within the requested number of minutes. Designed for incremental synchronization; combine with cursor pagination and auction filters.
        example: 15
      - name: price_min
        in: query
        required: false
        schema:
          type: number
        description: Minimum price.
        example: 1000
      - name: price_max
        in: query
        required: false
        schema:
          type: number
        description: Maximum price.
        example: 15000
      - name: year_from
        in: query
        required: false
        schema:
          type: integer
        description: Minimum vehicle year.
        example: 2018
      - name: year_to
        in: query
        required: false
        schema:
          type: integer
        description: Maximum vehicle year.
        example: 2024
      - name: auction_type
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          default: 0
        description: 'Numeric auction platform filter: 0 = all supported platforms, 1 = Copart, 2 = IAAI. Use either auction_type or platform in the same request.'
        example: 1
      - name: platform
        in: query
        required: false
        schema:
          type: string
          enum:
          - copart
          - iaai
        description: Readable auction platform filter. Use copart or iaai. Use either platform or auction_type in the same request.
        example: copart
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: Vehicle type.
        example: AUTOMOBILE
      - name: make
        in: query
        required: false
        schema:
          type: string
        description: Vehicle make.
        example: BMW
      - name: model
        in: query
        required: false
        schema:
          type: string
        description: Vehicle model.
        example: X5
      - name: color
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Vehicle color. Multiple values are supported.
        example:
        - Black
        - White
        style: form
        explode: true
      - name: fuel_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Diesel
            - Hybrid
            - Electric
            - Flexible
            - Gasoline
            - All others
        description: Fuel type. Multiple values are supported.
        style: form
        explode: true
        example:
        - Gasoline
        - Hybrid
      - name: odometer_from
        in: query
        required: false
        schema:
          type: number
        description: Minimum odometer value.
        example: 0
      - name: odometer_to
        in: query
        required: false
        schema:
          type: number
        description: Maximum odometer value.
        example: 120000
      - name: engine_size_from
        in: query
        required: false
        schema:
          type: number
        description: Minimum engine size.
        example: 2
      - name: engine_size_to
        in: query
        required: false
        schema:
          type: number
        description: Maximum engine size.
        example: 5
      - name: engine_hp_from
        in: query
        required: false
        schema:
          type: number
        description: Minimum engine horsepower.
        example: 150
      - name: engine_hp_to
        in: query
        required: false
        schema:
          type: number
        description: Maximum engine horsepower.
        example: 500
      - name: transmission
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Manual
            - Unknown
            - Automatic
        description: Transmission type. Multiple values are supported.
        style: form
        explode: true
        example:
        - Automatic
      - name: cylinders
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Number of cylinders. Multiple values are supported.
        example:
        - 4
        - 6
        style: form
        explode: true
      - name: drive_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AWD
            - FWD
            - RWD
        description: Drive type. Multiple values are supported.
        style: form
        explode: true
        example:
        - AWD
        - FWD
      - name: run_cond
        in: query
        required: false
        schema:
          type: string
          enum:
          - STATIONARY
          - NO INFORMATION
          - RUNS AND DRIVES
          - ENGINE START PROGRAM
        description: Run condition.
      - name: damage
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Fire
            - Hail
            - Theft
            - Water
            - Chemical
            - Rollover
            - Mechanical
            - Vandalized
            - Repossession
        description: Damage type. Multiple values are supported.
        style: form
        explode: true
        example:
        - Hail
        - Mechanical
      - name: has_key
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'No'
          - All
          - With
        description: Filter vehicles by key availability.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Cursor for pagination.
        example: next_cursor or prev_cursor
      - name: zip
        in: query
        required: false
        schema:
          type: string
        description: ZIP code for location-based search.
        example: '33166'
      - name: radius
        in: query
        required: false
        schema:
          type: number
        description: Search radius around ZIP.
        example: 50
      - name: units
        in: query
        required: false
        schema:
          type: string
          enum:
          - km
          - mi
          default: mi
        description: Distance units.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 20
        description: Records per vehicle-search page. Default 20. The effective maximum is plan-dependent; public plan entitlements can use maxima of 20, 30 or 40, while approved custom plans may differ. Use the active account entitlement as the runtime source of truth.
        example: 20
        x-apibara-plan-dependent: true
        x-apibara-known-direct-limits:
          default: 20
          pro_plus: 30
          pro_max: 30
          mega: 40
          mega_max: 40
          custom_possible:
          - 50
          - 100
        x-plan-dependent: true
        x-public-tier-maxima:
        - 20
        - 30
        - 40
      - name: facility_id
        in: query
        required: false
        schema:
          type: string
        description: Auction facility ID.
        example: '136'
      - name: loc_state
        in: query
        required: false
        schema:
          type: string
        description: Location state code.
        example: FL
      - name: office_name
        in: query
        required: false
        schema:
          type: string
        description: Auction office or branch name.
        example: Miami
      - name: auction_date_from
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Auction date from.
        example: '2026-03-20'
      - name: auction_date_to
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Auction date to.
        example: '2026-03-25'
      - name: today_only
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Return only vehicles with auctions today.
      - name: sale_document_pending
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Filter by pending sale document.
      - name: sale_document_type
        in: query
        required: false
        schema:
          type: string
        description: Sale document type.
        example: clean
      - name: seller_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - dealer
          - finance
          - insurance
          - non_insurance
        description: Seller type.
      - name: has_shipping_price
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Return only vehicles with shipping price data.
      responses:
        '200':
          description: Paginated list of vehicle auction records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleListResponse'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '400':
          description: Bad request. One or more parameters are invalid.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '401':
          description: Unauthorized. Missing or invalid X-API-Key.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '404':
          description: Resource not found.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '429':
          description: API quota exceeded or rate limit reached.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '500':
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-codeSamples:
      - lang: Shell
        label: curl
        source: "curl --request GET \\\n  --url \"https://apibara.tech/api/v1/vehicle-auction/vehicles\" \\\n  --header \"Accept: application/json\" \\\n  --header \"X-API-Key: ${APIBARA_API_KEY}\""
      - lang: Python
        label: Python httpx
        source: 'import os, httpx


          url = "https://apibara.tech/api/v1/vehicle-auction/vehicles"

          headers = {"X-API-Key": os.environ["APIBARA_API_KEY"], "Accept": "application/json"}

          response = httpx.request("GET", url, headers=headers, timeout=30)

          response.raise_for_status()

          print(response.json())'
      - lang: JavaScript
        label: Node.js fetch
        source: "const response = await fetch(\"https://apibara.tech/api/v1/vehicle-auction/vehicles\", {\n  method: \"GET\",\n  headers: {\n    Accept: \"application/json\",\n    \"X-API-Key\": process.env.APIBARA_API_KEY,\n  },\n});\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconsole.log(await response.json());"
  /vehicles/{slugVin}:
    get:
      tags:
      - Vehicles
      summary: Get vehicle details
      description: Get vehicle auction details by VIN or lot number.
      operationId: getVehicleDetails
      parameters:
      - name: slugVin
        in: path
        required: true
        schema:
          type: string
        description: Vehicle identifier. Can be VIN or lot number.
        example: WBAVL1C58FVY28848 or 78691915
      responses:
        '200':
          description: Vehicle auction details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleDetailsResponse'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '400':
          description: Bad request. One or more parameters are invalid.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '401':
          description: Unauthorized. Missing or invalid X-API-Key.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '404':
          description: Resource not found.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '429':
          description: API quota exceeded or rate limit reached.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '500':
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-Subscription-Limit:
              $ref: '#/components/headers/SubscriptionLimit'
            X-Subscription-Base-Limit:
              $ref: '#/components/headers/SubscriptionBaseLimit'
            X-Subscription-Extra-Limit:
              $ref: '#/components/headers/SubscriptionExtraLimit'
            X-Subscription-Used:
              $ref: '#/components/headers/SubscriptionUsed'
            X-Subscription-Remaining:
              $ref: '#/components/headers/SubscriptionRemaining'
            X-Subscription-Period-Start:
              $ref: '#/components/headers/SubscriptionPeriodStart'
            X-Subscription-Period-End:
              $ref: '#/components/headers/SubscriptionPeriodEnd'
            X-Per-Page-Limit:
              $ref: '#/components/headers/PerPageLimit'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-codeSamples:
      - lang: Shell
        label: curl
        source: "curl --request GET \\\n  --url \"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}\" \\\n  --header \"Accept: application/json\" \\\n  --header \"X-API-Key: ${APIBARA_API_KEY}\""
      - lang: Python
        label: Python httpx
        source: 'import os, httpx


          url = "https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}"

          headers = {"X-API-Key": os.environ["APIBARA_API_KEY"], "Accept": "application/json"}

          response = httpx.request("GET", url, headers=headers, timeout=30)

          response.raise_for_status()

          print(response.json())'
      - lang: JavaScript
        label: Node.js fetch
        source: "const response = await fetch(\"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}\", {\n  method: \"GET\",\n  headers: {\n    Accept: \"application/json\",\n    \"X-API-Key\": process.env.APIBARA_API_KEY,\n  },\n});\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconsole.log(await response.json());"
components:
  headers:
    SubscriptionPeriodEnd:
      description: End of the active subscription quota period.
      schema:
        type: string
        format: date-time
    PerPageLimit:
      description: Effective maximum page size for the authenticated plan/workflow.
      schema:
        type: integer
    SubscriptionBaseLimit:
      description: Base subscription request allowance for the active period.
      schema:
        type: integer
    RateLimitLimit:
      description: Current short-window request limit when rate limiting applies.
      schema:
        type: integer
    SubscriptionUsed:
      description: Requests consumed in the active subscription period.
      schema:
        type: integer
    SubscriptionLimit:
      description: Total subscription request allowance for the active period.
      schema:
        type: integer
    SubscriptionPeriodStart:
      description: Start of the active subscription quota period.
      schema:
        type: string
        format: date-time
    SubscriptionRemaining:
      description: Requests remaining in the active subscription period.
      schema:
        type: integer
    RateLimitRemaining:
      description: Remaining requests in the current short-window rate-limit bucket.
      schema:
        type: integer
    SubscriptionExtraLimit:
      description: Additional request allowance applied to the active period.
      schema:
        type: integer
  schemas:
    VehicleLocation:
      type: object
      properties:
        display:
          type: string
          example: Englishtown (NJ)
        state:
          type: string
          example: NJ
        facility_id:
          type: string
          example: '136'
      additionalProperties: true
    MediaInfo:
      type: object
      properties:
        thumbs_count:
          type: integer
          example: 17
        has_360:
          type: boolean
          example: true
        photos:
          type: array
          items:
            type: string
            format: uri
      additionalProperties: true
    Vehicle:
      type: object
      description: Normalized Copart or IAAI auction vehicle record.
      properties:
        platform:
          type: string
          example: iaai
        lot_number:
          type: string
          example: '45416833'
        vin:
          type: string
          example: 2HKRM4H7XEH623608
        title:
          type: string
          example: 2014 HONDA CR-V EX-L
        year:
          type: integer
          example: 2014
        make:
          type: string
          example: HONDA
        model:
          type: string
          example: CR-V
        type:
          type: string
          example: AUTOMOBILE
        color:
          type: string
          example: Black
        fuel_type:
          type: string
          example: Gasoline
        transmission:
          type: string
          example: Automatic
        drive_type:
          type: string
          example: AWD
        odometer:
          type: number
          example: 120000
        damage:
          type: string
          example: Mechanical
        auction:
          $ref: '#/components/schemas/AuctionInfo'
        pricing:
          $ref: '#/components/schemas/PricingInfo'
        location:
          $ref: '#/components/schemas/VehicleLocation'
        media:
          $ref: '#/components/schemas/MediaInfo'
      additionalProperties: true
    PricingInfo:
      type: object
      properties:
        current_bid_usd:
          type: number
          example: 25
        buy_now_usd:
          type:
          - number
          - 'null'
        sale_price_usd:
          type:
          - number
          - 'null'
      additionalProperties: true
    VehicleDetailsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Vehicle'
    CursorMeta:
      type: object
      properties:
        per_page:
          type: integer
          minimum: 1
          maximum: 100
          example: 20
        next_cursor:
          type:
          - string
          - 'null'
          example: eyJ2ZWhpY2xlcy5hZCI6IjIwMjYtMDctMTMgMTY6MzA6MDAiLCJ2ZWhpY2xlcy51cGRhdGVkX2F0IjoiMjAyNi0wNy0xMSAwODowOToyOSIsIl9wb2ludHNUb05leHRJdGVtcyI6dHJ1ZX0
        prev_cursor:
          type:
          - string
          - 'null'
          example: null
      additionalProperties: true
      description: Cursor pagination metadata.
      required:
      - per_page
      - next_cursor
      - prev_cursor
    AuctionInfo:
      type: object
      properties:
        state:
          type: string
          example: open
        auction_at:
          type: string
          format: date-time
          example: '2026-06-22T13:30:00+00:00'
        lot_status:
          type: string
          example: Timed
        lot_sub_status:
          type: string
          example: Open
      additionalProperties: true
    VehicleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Vehicle'
        meta:
          $ref: '#/components/schemas/CursorMeta'
      required:
      - data
      - meta
    ApiError:
      type: object
      additionalProperties: true
      properties:
        ok:
          type:
          - boolean
          - 'null'
        message:
          type:
          - string
          - 'null'
        error:
          type:
          - string
          - object
          - array
          - 'null'
        errors:
          type:
          - object
          - array
          - 'null'
  responses:
    ValidationError:
      description: Request parameters failed validation.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-Subscription-Limit:
          $ref: '#/components/headers/SubscriptionLimit'
        X-Subscription-Base-Limit:
          $ref: '#/components/headers/SubscriptionBaseLimit'
        X-Subscription-Extra-Limit:
          $ref: '#/components/headers/SubscriptionExtraLimit'
        X-Subscription-Used:
          $ref: '#/components/headers/SubscriptionUsed'
        X-Subscription-Remaining:
          $ref: '#/components/headers/SubscriptionRemaining'
        X-Subscription-Period-Start:
          $ref: '#/components/headers/SubscriptionPeriodStart'
        X-Subscription-Period-End:
          $ref: '#/components/headers/SubscriptionPeriodEnd'
        X-Per-Page-Limit:
          $ref: '#/components/headers/PerPageLimit'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    ServiceUnavailable:
      description: The service or an upstream dependency is temporarily unavailable.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-Subscription-Limit:
          $ref: '#/components/headers/SubscriptionLimit'
        X-Subscription-Base-Limit:
          $ref: '#/components/headers/SubscriptionBaseLimit'
        X-Subscription-Extra-Limit:
          $ref: '#/components/headers/SubscriptionExtraLimit'
        X-Subscription-Used:
          $ref: '#/components/headers/SubscriptionUsed'
        X-Subscription-Remaining:
          $ref: '#/components/headers/SubscriptionRemaining'
        X-Subscription-Period-Start:
          $ref: '#/components/headers/SubscriptionPeriodStart'
        X-Subscription-Period-End:
          $ref: '#/components/headers/SubscriptionPeriodEnd'
        X-Per-Page-Limit:
          $ref: '#/components/headers/PerPageLimit'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    Forbidden:
      description: The authenticated key/plan is not allowed to perform this request.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-Subscription-Limit:
          $ref: '#/components/headers/SubscriptionLimit'
        X-Subscription-Base-Limit:
          $ref: '#/components/headers/SubscriptionBaseLimit'
        X-Subscription-Extra-Limit:
          $ref: '#/components/headers/SubscriptionExtraLimit'
        X-Subscription-Used:
          $ref: '#/components/headers/SubscriptionUsed'
        X-Subscription-Remaining:
          $ref: '#/components/headers/SubscriptionRemaining'
        X-Subscription-Period-Start:
          $ref: '#/components/headers/SubscriptionPeriodStart'
        X-Subscription-Period-End:
          $ref: '#/components/headers/SubscriptionPeriodEnd'
        X-Per-Page-Limit:
          $ref: '#/components/headers/PerPageLimit'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Apibara API key.
externalDocs:
  description: Vehicle Auction Data API documentation and AI-readable resources
  url: https://apibara.tech/en/products/vehicle-auction-data-api/docs
x-apibara-machine-readable:
  product: https://apibara.tech/en/products/vehicle-auction-data-api
  copart_api: https://apibara.tech/en/products/vehicle-auction-data-api/copart-api
  iaai_api: https://apibara.tech/en/products/vehicle-auction-data-api/iaai-api
  coverage: https://apibara.tech/coverage.json
  performance: https://apibara.tech/performance.json
  status: https://apibara.tech/status.json
  ai_facts: https://apibara.tech/ai-facts.json
  llms: https://apibara.tech/llms.txt
  llms_full: https://apibara.tech/llms-full.txt
x-apibara-ai-resources:
  llms: https://apibara.tech/llms.txt
  llmsFull: https://apibara.tech/llms-full.txt
  aiFacts: https://apibara.tech/ai-facts.json
  coverage: https://apibara.tech/coverage.json
  performance: https://apibara.tech/performance.json
  status: https://apibara.tech/status.json
  statusHistory: https://apibara.tech/status-history.json
  mcp: https://apibara.tech/mcp
x-apibara-facts:
  lastVerified: '2026-09-18'
  indexedRecords: 20000000
  indexedRecordsLabel: 20M+
  indexedRecordsMeaning: Current and retained historical auction records; not a unique-VIN or unique-vehicle count.
  supportedVehicleRecords: 3200000
  supportedVehicleRecordsLabel: 3.2M+
  recordsAddedOrRefreshedDailyApprox: 30000
  recordsAddedOrRefreshedDailyLabel: 30K+
  generalRefreshMinutes: 15
  liveBidRefreshSeconds:
    min: 10
    max: 15
  freeRequestsMonthly: 100
  paymentCardRequiredForFreeTier: false
x-apibara-search:
  queryControls: 43
  searchFilterSyncControls: 40
  technicalControls:
  - cursor
  - per_page
  - units
  pagination:
    defaultPerPage: 20
    planDependent: true
    publicTierMaxima:
    - 20
    - 30
    - 40
    customPlansMayDiffer: true
  auctionSources:
  - All
  - Copart
  - IAAI
  auctionModes:
  - All
  - Timed
  - Buy Now
  auctionStates:
  - Open
  - Live
  - Ended
  incrementalSync:
    supported: true
    parameter: updated_within_minutes
    minimumMinutes: 1
    maximumMinutes: 525600
  cursorPagination: true
  zipRadiusSearch: true
  shippingFilter: true
  guides:
    filters: https://apibara.tech/en/vehicle-auction-api-filters
    incrementalSync: https://apibara.tech/en/vehicle-auction-incremental-sync-api
  upcoming:
    parameter: upcoming
    values:
    - all
    - only
    - without
