{
    "openapi": "3.1.0",
    "info": {
        "title": "Apibara Copart & IAAI Vehicle Auction API",
        "description": "Structured JSON API for Copart and IAAI vehicle auction data. Search auction vehicles, retrieve VIN and lot details, photos, prices, auction status, sale history, related vehicles, filters, locations, usage information, image proxy responses, and auction-to-port shipping prices.\n\nCanonical public facts: 20M+ indexed current and retained historical auction records; 3.2M+ supported vehicle records represented in the dataset; approximately 30K+ records added or refreshed daily; supported price/status refresh up to 15 minutes and often sooner; supported live-bid refresh about 10–15 seconds. Indexed records are not a unique-VIN count; source-dependent fields can be null.",
        "version": "1.1.0",
        "termsOfService": "https://apibara.tech/en/terms",
        "contact": {
            "name": "Apibara",
            "url": "https://apibara.tech/en/products/vehicle-auction-data-api",
            "email": "admin@apibara.tech"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://apibara.tech/en/terms"
        },
        "x-apibara-facts": {
            "lastVerified": "2026-09-18",
            "indexedRecords": 20000000,
            "indexedRecordsLabel": "20M+",
            "indexedRecordsMeaning": "Current and retained historical auction records; not a unique-VIN or unique-vehicle count.",
            "supportedVehicleRecords": 3200000,
            "supportedVehicleRecordsLabel": "3.2M+",
            "recordsAddedOrRefreshedDailyApprox": 30000,
            "recordsAddedOrRefreshedDailyLabel": "30K+",
            "generalRefreshMinutes": 15,
            "liveBidRefreshSeconds": {
                "min": 10,
                "max": 15
            },
            "freeRequestsMonthly": 100,
            "paymentCardRequiredForFreeTier": false
        }
    },
    "servers": [
        {
            "url": "https://apibara.tech/api/v1/vehicle-auction",
            "description": "Production server"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "Vehicles",
            "description": "Search and retrieve vehicle auction records."
        },
        {
            "name": "Vehicle History",
            "description": "VIN and lot auction history."
        },
        {
            "name": "Related Vehicles",
            "description": "Related and similar auction vehicles."
        },
        {
            "name": "Filters",
            "description": "Available filters metadata."
        },
        {
            "name": "Locations",
            "description": "Auction facility and location search."
        },
        {
            "name": "Shipping",
            "description": "Auction-to-port delivery prices."
        },
        {
            "name": "URL Tools",
            "description": "Resolve vehicle details from auction URLs."
        },
        {
            "name": "Usage",
            "description": "API usage and plan limit information."
        },
        {
            "name": "Image Proxy",
            "description": "Proxy supported auction vehicle images."
        }
    ],
    "paths": {
        "/vehicles": {
            "get": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "List auction vehicles",
                "description": "Search, filter, and paginate Copart and IAAI vehicle auction records. Cursor pagination is opaque: send the next_cursor returned by the API without decoding it. For incremental synchronization, use updated_within_minutes. Nullable/source-dependent fields are normal.\n\nThe endpoint exposes 43 documented query controls, including 40 search, filtering and synchronization controls. Use `updated_within_minutes` with cursor pagination and auction source/mode/state filters for incremental synchronization.",
                "operationId": "listAuctionVehicles",
                "parameters": [
                    {
                        "name": "s",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Search by lot number, VIN, or vehicle title.",
                        "example": "BMW X5 / 1HGCM82633A123456 / 12345678"
                    },
                    {
                        "name": "lot_status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "All",
                                "Timed",
                                "Buy Now"
                            ],
                            "default": "All"
                        },
                        "description": "Lot status filter."
                    },
                    {
                        "name": "lot_sub_status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Live",
                                "Open",
                                "Ended"
                            ],
                            "default": "Open"
                        },
                        "description": "Normalized lot sub-status. Open = active/open and not sold; Live = currently live when supported; Ended = ended/closed state."
                    },
                    {
                        "name": "upcoming",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "only",
                                "without"
                            ],
                            "default": "all"
                        },
                        "description": "Upcoming selector. all = no restriction; only = only upcoming eligible lots; without = exclude upcoming lots. This does not override Open/Sold state logic.",
                        "example": "only"
                    },
                    {
                        "name": "updated_within_minutes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 525600
                        },
                        "description": "Return records whose updated_at changed within the requested number of minutes. Designed for incremental synchronization; combine with cursor pagination and auction filters.",
                        "example": 15
                    },
                    {
                        "name": "price_min",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Minimum price.",
                        "example": 1000
                    },
                    {
                        "name": "price_max",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Maximum price.",
                        "example": 15000
                    },
                    {
                        "name": "year_from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Minimum vehicle year.",
                        "example": 2018
                    },
                    {
                        "name": "year_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Maximum vehicle year.",
                        "example": 2024
                    },
                    {
                        "name": "auction_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1,
                                2
                            ],
                            "default": 0
                        },
                        "description": "Numeric auction platform filter: 0 = all supported platforms, 1 = Copart, 2 = IAAI. Use either auction_type or platform in the same request.",
                        "example": 1
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "copart",
                                "iaai"
                            ]
                        },
                        "description": "Readable auction platform filter. Use copart or iaai. Use either platform or auction_type in the same request.",
                        "example": "copart"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Vehicle type.",
                        "example": "AUTOMOBILE"
                    },
                    {
                        "name": "make",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Vehicle make.",
                        "example": "BMW"
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Vehicle model.",
                        "example": "X5"
                    },
                    {
                        "name": "color",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Vehicle color. Multiple values are supported.",
                        "example": [
                            "Black",
                            "White"
                        ],
                        "style": "form",
                        "explode": true
                    },
                    {
                        "name": "fuel_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Diesel",
                                    "Hybrid",
                                    "Electric",
                                    "Flexible",
                                    "Gasoline",
                                    "All others"
                                ]
                            }
                        },
                        "description": "Fuel type. Multiple values are supported.",
                        "style": "form",
                        "explode": true,
                        "example": [
                            "Gasoline",
                            "Hybrid"
                        ]
                    },
                    {
                        "name": "odometer_from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Minimum odometer value.",
                        "example": 0
                    },
                    {
                        "name": "odometer_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Maximum odometer value.",
                        "example": 120000
                    },
                    {
                        "name": "engine_size_from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Minimum engine size.",
                        "example": 2
                    },
                    {
                        "name": "engine_size_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Maximum engine size.",
                        "example": 5
                    },
                    {
                        "name": "engine_hp_from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Minimum engine horsepower.",
                        "example": 150
                    },
                    {
                        "name": "engine_hp_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Maximum engine horsepower.",
                        "example": 500
                    },
                    {
                        "name": "transmission",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Manual",
                                    "Unknown",
                                    "Automatic"
                                ]
                            }
                        },
                        "description": "Transmission type. Multiple values are supported.",
                        "style": "form",
                        "explode": true,
                        "example": [
                            "Automatic"
                        ]
                    },
                    {
                        "name": "cylinders",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        },
                        "description": "Number of cylinders. Multiple values are supported.",
                        "example": [
                            4,
                            6
                        ],
                        "style": "form",
                        "explode": true
                    },
                    {
                        "name": "drive_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "AWD",
                                    "FWD",
                                    "RWD"
                                ]
                            }
                        },
                        "description": "Drive type. Multiple values are supported.",
                        "style": "form",
                        "explode": true,
                        "example": [
                            "AWD",
                            "FWD"
                        ]
                    },
                    {
                        "name": "run_cond",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "STATIONARY",
                                "NO INFORMATION",
                                "RUNS AND DRIVES",
                                "ENGINE START PROGRAM"
                            ]
                        },
                        "description": "Run condition."
                    },
                    {
                        "name": "damage",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Fire",
                                    "Hail",
                                    "Theft",
                                    "Water",
                                    "Chemical",
                                    "Rollover",
                                    "Mechanical",
                                    "Vandalized",
                                    "Repossession"
                                ]
                            }
                        },
                        "description": "Damage type. Multiple values are supported.",
                        "style": "form",
                        "explode": true,
                        "example": [
                            "Hail",
                            "Mechanical"
                        ]
                    },
                    {
                        "name": "has_key",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "No",
                                "All",
                                "With"
                            ]
                        },
                        "description": "Filter vehicles by key availability."
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Cursor for pagination.",
                        "example": "next_cursor or prev_cursor"
                    },
                    {
                        "name": "zip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ZIP code for location-based search.",
                        "example": "33166"
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Search radius around ZIP.",
                        "example": 50
                    },
                    {
                        "name": "units",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "km",
                                "mi"
                            ],
                            "default": "mi"
                        },
                        "description": "Distance units."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 20
                        },
                        "description": "Records per vehicle-search page. Default 20. The effective maximum is plan-dependent; public plan entitlements can use maxima of 20, 30 or 40, while approved custom plans may differ. Use the active account entitlement as the runtime source of truth.",
                        "example": 20,
                        "x-apibara-plan-dependent": true,
                        "x-apibara-known-direct-limits": {
                            "default": 20,
                            "pro_plus": 30,
                            "pro_max": 30,
                            "mega": 40,
                            "mega_max": 40,
                            "custom_possible": [
                                50,
                                100
                            ]
                        },
                        "x-plan-dependent": true,
                        "x-public-tier-maxima": [
                            20,
                            30,
                            40
                        ]
                    },
                    {
                        "name": "facility_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Auction facility ID.",
                        "example": "136"
                    },
                    {
                        "name": "loc_state",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Location state code.",
                        "example": "FL"
                    },
                    {
                        "name": "office_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Auction office or branch name.",
                        "example": "Miami"
                    },
                    {
                        "name": "auction_date_from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "description": "Auction date from.",
                        "example": "2026-03-20"
                    },
                    {
                        "name": "auction_date_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "description": "Auction date to.",
                        "example": "2026-03-25"
                    },
                    {
                        "name": "today_only",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "Return only vehicles with auctions today."
                    },
                    {
                        "name": "sale_document_pending",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "Filter by pending sale document."
                    },
                    {
                        "name": "sale_document_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Sale document type.",
                        "example": "clean"
                    },
                    {
                        "name": "seller_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "dealer",
                                "finance",
                                "insurance",
                                "non_insurance"
                            ]
                        },
                        "description": "Seller type."
                    },
                    {
                        "name": "has_shipping_price",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "description": "Return only vehicles with shipping price data."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of vehicle auction records.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VehicleListResponse"
                                }
                            }
                        },
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. One or more parameters are invalid.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Missing or invalid X-API-Key.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "429": {
                        "description": "API quota exceeded or rate limit reached.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell",
                        "label": "curl",
                        "source": "curl --request GET \\\n  --url \"https://apibara.tech/api/v1/vehicle-auction/vehicles\" \\\n  --header \"Accept: application/json\" \\\n  --header \"X-API-Key: ${APIBARA_API_KEY}\""
                    },
                    {
                        "lang": "Python",
                        "label": "Python httpx",
                        "source": "import os, httpx\n\nurl = \"https://apibara.tech/api/v1/vehicle-auction/vehicles\"\nheaders = {\"X-API-Key\": os.environ[\"APIBARA_API_KEY\"], \"Accept\": \"application/json\"}\nresponse = httpx.request(\"GET\", url, headers=headers, timeout=30)\nresponse.raise_for_status()\nprint(response.json())"
                    },
                    {
                        "lang": "JavaScript",
                        "label": "Node.js fetch",
                        "source": "const response = await fetch(\"https://apibara.tech/api/v1/vehicle-auction/vehicles\", {\n  method: \"GET\",\n  headers: {\n    Accept: \"application/json\",\n    \"X-API-Key\": process.env.APIBARA_API_KEY,\n  },\n});\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconsole.log(await response.json());"
                    }
                ]
            }
        },
        "/vehicles/{slugVin}": {
            "get": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Get vehicle details",
                "description": "Get vehicle auction details by VIN or lot number.",
                "operationId": "getVehicleDetails",
                "parameters": [
                    {
                        "name": "slugVin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Vehicle identifier. Can be VIN or lot number.",
                        "example": "WBAVL1C58FVY28848 or 78691915"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vehicle auction details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VehicleDetailsResponse"
                                }
                            }
                        },
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. One or more parameters are invalid.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Missing or invalid X-API-Key.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "429": {
                        "description": "API quota exceeded or rate limit reached.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell",
                        "label": "curl",
                        "source": "curl --request GET \\\n  --url \"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}\" \\\n  --header \"Accept: application/json\" \\\n  --header \"X-API-Key: ${APIBARA_API_KEY}\""
                    },
                    {
                        "lang": "Python",
                        "label": "Python httpx",
                        "source": "import os, httpx\n\nurl = \"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}\"\nheaders = {\"X-API-Key\": os.environ[\"APIBARA_API_KEY\"], \"Accept\": \"application/json\"}\nresponse = httpx.request(\"GET\", url, headers=headers, timeout=30)\nresponse.raise_for_status()\nprint(response.json())"
                    },
                    {
                        "lang": "JavaScript",
                        "label": "Node.js fetch",
                        "source": "const response = await fetch(\"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}\", {\n  method: \"GET\",\n  headers: {\n    Accept: \"application/json\",\n    \"X-API-Key\": process.env.APIBARA_API_KEY,\n  },\n});\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconsole.log(await response.json());"
                    }
                ]
            }
        },
        "/vehicles/{slugVin}/history": {
            "get": {
                "tags": [
                    "Vehicle History"
                ],
                "summary": "Get vehicle auction history",
                "description": "Get auction history records for a vehicle by VIN or lot number.",
                "operationId": "getVehicleHistory",
                "parameters": [
                    {
                        "name": "slugVin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Vehicle identifier. Can be VIN or lot number.",
                        "example": "WBAVL1C58FVY28848 or 78691915"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 20,
                            "default": 20
                        },
                        "description": "Number of records per page. Maximum: 20.",
                        "example": 20
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Cursor for pagination.",
                        "example": "next_cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated vehicle auction history records.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VehicleHistoryResponse"
                                }
                            }
                        },
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. One or more parameters are invalid.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Missing or invalid X-API-Key.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "429": {
                        "description": "API quota exceeded or rate limit reached.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell",
                        "label": "curl",
                        "source": "curl --request GET \\\n  --url \"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}/history\" \\\n  --header \"Accept: application/json\" \\\n  --header \"X-API-Key: ${APIBARA_API_KEY}\""
                    },
                    {
                        "lang": "Python",
                        "label": "Python httpx",
                        "source": "import os, httpx\n\nurl = \"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}/history\"\nheaders = {\"X-API-Key\": os.environ[\"APIBARA_API_KEY\"], \"Accept\": \"application/json\"}\nresponse = httpx.request(\"GET\", url, headers=headers, timeout=30)\nresponse.raise_for_status()\nprint(response.json())"
                    },
                    {
                        "lang": "JavaScript",
                        "label": "Node.js fetch",
                        "source": "const response = await fetch(\"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}/history\", {\n  method: \"GET\",\n  headers: {\n    Accept: \"application/json\",\n    \"X-API-Key\": process.env.APIBARA_API_KEY,\n  },\n});\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconsole.log(await response.json());"
                    }
                ]
            }
        },
        "/vehicles/{slugVin}/related": {
            "get": {
                "tags": [
                    "Related Vehicles"
                ],
                "summary": "Get related vehicles",
                "description": "Get related or similar auction vehicles by VIN or lot number.",
                "operationId": "getRelatedVehicles",
                "parameters": [
                    {
                        "name": "slugVin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Vehicle identifier. Can be VIN or lot number.",
                        "example": "WBAVL1C58FVY28848 or 78691915"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Related auction vehicle records.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VehicleListResponse"
                                }
                            }
                        },
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. One or more parameters are invalid.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Missing or invalid X-API-Key.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "429": {
                        "description": "API quota exceeded or rate limit reached.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell",
                        "label": "curl",
                        "source": "curl --request GET \\\n  --url \"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}/related\" \\\n  --header \"Accept: application/json\" \\\n  --header \"X-API-Key: ${APIBARA_API_KEY}\""
                    },
                    {
                        "lang": "Python",
                        "label": "Python httpx",
                        "source": "import os, httpx\n\nurl = \"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}/related\"\nheaders = {\"X-API-Key\": os.environ[\"APIBARA_API_KEY\"], \"Accept\": \"application/json\"}\nresponse = httpx.request(\"GET\", url, headers=headers, timeout=30)\nresponse.raise_for_status()\nprint(response.json())"
                    },
                    {
                        "lang": "JavaScript",
                        "label": "Node.js fetch",
                        "source": "const response = await fetch(\"https://apibara.tech/api/v1/vehicle-auction/vehicles/{slugVin}/related\", {\n  method: \"GET\",\n  headers: {\n    Accept: \"application/json\",\n    \"X-API-Key\": process.env.APIBARA_API_KEY,\n  },\n});\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconsole.log(await response.json());"
                    }
                ]
            }
        },
        "/vehicles/filters": {
            "get": {
                "tags": [
                    "Filters"
                ],
                "summary": "Get vehicle filters metadata",
                "description": "Get available filters metadata for vehicle auction search.",
                "operationId": "getVehicleFilters",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Available filters metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FiltersResponse"
                                }
                            }
                        },
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. One or more parameters are invalid.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Missing or invalid X-API-Key.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "429": {
                        "description": "API quota exceeded or rate limit reached.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/RateLimitLimit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/RateLimitRemaining"
                            },
                            "X-Subscription-Limit": {
                                "$ref": "#/components/headers/SubscriptionLimit"
                            },
                            "X-Subscription-Base-Limit": {
                                "$ref": "#/components/headers/SubscriptionBaseLimit"
                            },
                            "X-Subscription-Extra-Limit": {
                                "$ref": "#/components/headers/SubscriptionExtraLimit"
                            },
                            "X-Subscription-Used": {
                                "$ref": "#/components/headers/SubscriptionUsed"
                            },
                            "X-Subscription-Remaining": {
                                "$ref": "#/components/headers/SubscriptionRemaining"
                            },
                            "X-Subscription-Period-Start": {
                                "$ref": "#/components/headers/SubscriptionPeriodStart"
                            },
                            "X-Subscription-Period-End": {
                                "$ref": "#/components/headers/SubscriptionPeriodEnd"
                            },
                            "X-Per-Page-Limit": {
                                "$ref": "#/components/headers/PerPageLimit"
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell",
                        "label": "curl",
                        "source": "curl --request GET \\\n  --url \"https://apibara.tech/api/v1/vehicle-auction/vehicles/filters\" \\\n  --header \"Accept: application/json\" \\\n  --header \"X-API-Key: ${APIBARA_API_KEY}\""
                    },
                    {
                        "lang": "Python",
                        "label": "Python httpx",
                        "source": "import os, httpx\n\nurl = \"https://apibara.tech/api/v1/vehicle-auction/vehicles/filters\"\nheaders = {\"X-API-Key\": os.environ[\"APIBARA_API_KEY\"], \"Accept\": \"application/json\"}\nresponse = httpx.request(\"GET\", url, headers=headers, timeout=30)\nresponse.raise_for_status()\nprint(response.json())"
                    },
                    {
                        "lang": "JavaScript",
                        "label": "Node.js fetch",
                        "source": "const response = await fetch(\"https://apibara.tech/api/v1/vehicle-auction/vehicles/filters\", {\n  method: \"GET\",\n  headers: {\n    Accept: \"application/json\",\n    \"X-API-Key\": process.env.APIBARA_API_KEY,\n  },\n});\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconsole.log(await response.json());"
                    }
                ]
            }
        },
        "/vehicles/{slugVin}/shipping": {
            "get": {
                "tags": [
                    "Shipping"
                ],
                "summary": "Get shipping prices for a vehicle",
                "description": "Get auction-to-port shipping prices for a vehicle by VIN or lot number.",
                "operationId": "getVehicleShipping",
                "parameters": [
                    {
                        "name": "slugVin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Vehicle identifier. Can be VIN or lot number.",
                        "example": "WBAVL1C58FVY28848 or 78691915"
                    },
                    {
                        "name": "ports",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated list of destination ports to return.",
                        "example": "Chicago,NY,Miami,Savannah,Norfolk,Houston,LA,Seattle,Moto_ATV"
                    }
                ],
                "responses": {
[...]
